@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 1

   Tables Style Sheet
   Author: Brandon Berney
   Date:   Mar 19 2019

   Filename:         mi_tables.css

*/

/* Table Styles */



/* Column Styles */



/* Table Header Styles */
